body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #4169E1;
    align-items: center;
}

#icone-menu {
    height: 40px;
    width: 45px;
    margin-left: 60px;
    margin-right: 20px;
}

#titulo {
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 60px;
}

main {
    margin: 40px;
}

#img-casa {
    max-width: 100%;
}